<div class="container">
  <br/>
  <p>
    <%= link_to "Back", headings_path, :class => "btn btn-primary" %>
  </p>
  <div class="panel panel-default">
    <div class="panel-heading">New Heading</div>
    <div class="panel-body">
      <form action="/headings" method="post">
        
        <%= render 'form_content' %>
        
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>